*.py[co]
__pycache__

bin
include
lib
pyvenv.cfg
pip-selfcheck.json

*.sqlite3

# Don't check in the static files...
public/static
!public/static/README.md

# Don't check in the media files...
public/media
!public/media/photos/README.md

# Don't check in the settings...
tourtracker/local.py
tourtracker/production.py