{% extends "rides/base.html" %}

{% block grid %}
<div class="item map" data-ride-id="{{ ride.id }}">
    <div class="content"></div>
</div>

<div class="item photo aspect1x1">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
<div class="item photo">
    <img src="http://placehold.it/350x150">
</div>
{% endblock grid %}