{% load pipeline mapbox %}<!doctype html>
<html lang="en">
    <head>
        <title>TourTracker</title>

        <meta charset="utf-8">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

        {% stylesheet 'main' %}
        <!-- mapbox code and init -->
        <script>
        var MAPBOX_TOKEN = '{% mapbox_access_token %}';
        </script>
        <!-- end mapbox -->
    </head>
    <body>
        {% block content %}
        {% endblock content %}

        {% javascript 'main' %}
    </body>
</html>