{% extends "base.html" %}

{% block content %}
{% for ride in rides %}
<article class='ride'>
    <div class='description'>
        <h2>{{ ride.name }}</h2>
        <h4>{{ ride.start|date:"l F j, Y" }}</h4>
        
        <div class="mileage">{{ ride.distance }} Miles</div>
        <div class="average-speed">{{ ride.average_speed }} MPH</div>

        <div class="ride-time">{{ ride.ride_time }}</div>
        <div class="stopped-time">{{ ride.stopped_time }}</div>
    </div>

    <div class="grid">
        <div class="item map" data-ride-id="{{ ride.id }}">
            <div class="content"></div>
        </div>


        <div class="item photo aspect1x1">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
        <div class="item photo">
            <img src="http://placehold.it/350x150">
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}