$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$header-color: #DDD;

body {
  font: 100% $font-stack;
  color: $primary-color;

  margin: 0;
  padding: 0;

  header {
  	background-color: #DDD;
  	padding: 25px;
  }

  footer {
  	background-color: #DDD;
  	padding: 25px;
  }

  .ride {
  	max-width: 700px;
	border: 1px solid black;
	box-shadow: 5px 5px 5px #DDD;
	margin: 25px auto;

  	.description {
	  	padding: 25px;
  	}

  	.map {
  		width: 100%;
  		height: 300px;
  		background-color: blue;
  	}
  }
}
