$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$header-color: #DDD;

body {
  font: 100% $font-stack;
  color: $primary-color;

  margin: 0;
  padding: 0;

  header {
    background-color: #DDD;
    padding: 25px;
  }

  footer {
    background-color: #DDD;
    padding: 25px;
  }

  .ride {
    max-width: 700px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #DDD;
    margin: 25px auto;

    .description {
      padding: 25px;
    }

    &.narrow {

      .map-container {
        width: 100%;
        overflow: auto;
        margin: 0;
        padding: 0;

        display: flex;


        .map {
          width: 50%;

          position: relative;
          margin: 0;
          flex-flow: column wrap;

          .pusher {
            display: block;
            padding-top: 112.5%;
          }

          .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }

        .photo-container {
          display: flex;
          width: 50%;

          &.vertical {
            flex-flow: column wrap;
          }

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .item {
        position: relative;

        &.landscape {
          .pusher {
            width: 100%;
            display: block;
            content: "";
            padding-top: 56.25%;
          }
        }

        &.portrait {
          .pusher {
            width: 100%;
            display: block;
            content: "";
            padding-top: 177.78%;
          }
        }

        .content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

    }

  }
}
